* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------Universal and Fonts------------- */

html {
    font-size: 62.5%; /* makes 1rem 10px */
    height: 100%;
}

body {
    font-size: 1.6em; /* default font of 16px */
    font-family: 'Caprasimo', sans-serif;
    line-height: 1.3;
    height: 100%;
    color: #373737;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #858396;
    overflow: hidden;
}

h1 { 
    font-size: 4em;
    color: #E0CC46;
    text-align: center;
    padding: 2%;
    margin: 5%;
    line-height: 1.2;
}

h2 { 
    font-size: 2.4rem;
    margin: 2%;
    font-weight: bold;
}

h3 { font-size: 2rem }
h4, li, label, input, textarea, select, p {
    font-size: 1.8rem;
}
h5 { font-size: 1.6rem }
h6 { font-size: 1.4rem }
ol, ul { padding-left: 2em }

a {
    text-decoration: none;
    color: #E0CC46;
}

a:hover { color: orange }
a:focus { color: yellow }
a:active { color: red }

li {
    list-style: none;
    padding: 5px 0px 0px 0px;

}

/*---------------------------------------------------*/

/*-------------------Homepage CSS--------------------*/

.body-home {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.upper {
    width: 100%;
    display: flex;
    flex: .31 1 auto;
    justify-content: space-evenly;
    align-items: center;
}

.lower {
    width: 100%;
    display: flex;
    flex: .31 1 auto;
    justify-content: space-evenly;
    align-items: center;
}

.shopping-lower {
    width: 100%;
    display: flex;
    flex: .31 1 auto;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3%;
}

.btn-home {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.7%;
    background-color: #E0CC46;
    border-radius: 8px;
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.6);
}

.btn-home:hover {
    background-color: #e4b92d;
}

.add-recipe, .add-ingredient, .view-ingredient-list, .view-recipes, .create-shopping-list {
    font-size: 1.5em;
    color: #858396;
    text-align: center;
}

@media only screen and (min-width: 700px) {
    .title-home {
        margin: 0;
    }
    }

@media only screen and (min-width: 700px) {
    .main {
        width: 80%;
    }
    }

@media only screen and (min-width: 700px) {
    .body-home {
        align-items: center;
    }
    }



/*-----------------------------------------------------*/

/*-------------- Universal Add Button ----------------*/

.create {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid white; 
    margin: 3.5%;
    border-radius: 15px;
    padding: 7px 16px;
    background-color: #198754;
}

/*------------------------------------------------------*/

/*--------------- Add Ingredients CSS ------------------*/

.title-add-ingredients {
    font-size: 5rem;
}

.body-add-ingredients {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-add-ingredients {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    padding: 2%;
    margin-bottom: 4%;
    display: flex;
    gap: 8px;
    width: 100%;
}

@media only screen and (min-width: 700px) {
    .input-container {
        width: 80%;
    }
    }

input,
input::placeholder {
    font: 1.35rem/3 sans-serif;
}

.ingredients-add {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2%;
}

.buttons-add {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*---------------------------------------------------*/

/*----------------Ingredients List CSS--------------*/

.ingredients-list-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.ingredients-list {
    height: 75%;
}

.buttons-list {
    height: 5.25%;
    text-align: center;
}

/*-----------------------------------------------------*/

/*-------------------Create Recipe CSS--------------------*/

.recipe-list-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.recipe-list {
    height: 75%;
}

.buttons-recipe-list {
    height: 5.25%;
    text-align: center;
}

/*--------------------------------------------------------*/

/*---------------Warning and Name Modal CSS----------------*/

.body {
    border: 1px solid black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message-box {
    min-height: 30vh;
    margin-bottom: 10%;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.box-header {
    padding-top: 1%;
    padding-bottom: 5%;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: white;
    position: relative;
}

.box-body {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    background-color: white;
}

.box-buttons {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.icon {
    color: #373737;
    font-size: 26px;
    font-weight: 700;
    background: lavender;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: absolute;
    left: 2%;
    top: 10%;
}

.close-button {
    background: #eee;
    border-radius: 50%;
    color: #888;
    font-weight: bold;
    font-size: 14px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 10px;
    flex: 0 0 auto;
    position: absolute;
    top: 5%;
    right: 1.5%;
}

.header-message {
    position: absolute;
    flex: 6 1 auto;
    width: 70%;
    font-size: 1.25em;
    font-weight: bold;
    left: 22%;
    top: 30%;
    text-align: center;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
}

button.continue {
    background: #198754;
    border: 1px solid #198754;
    color: white;
    margin-right: 5%;
    border: 1px solid #a8a8a8;
}

button.cancel {
    background: #E0CC46;
    border: 1px solid #a8a8a8;
    color: #94841F;
    margin-left: 5%;
    padding: 8px 20px;
}

@media only screen and (min-width: 500px) {
    .header-message {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 15%;
    }
    }

@media only screen and (min-width: 700px) {
    .message-box {
        height: 40vh;
        width: 80%;
        max-width: 600px;
    }
    }

@media only screen and (max-width: 415px) {
    .header-message p {
        font-size: 16px;
        margin-right: 10%;
        letter-spacing: .02em;
    }
    }

/*--------------------------------------*/

/*------------Create Recipe CSS----------*/

.body-create-recipe {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.upper-create-recipe {
    height: 60%;
    width: 100%;
}

.bottom-create-recipe {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-container-create-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5%;
}

.input-container-create-recipe button {
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 2% 0 0 0;
}

.btn-create-recipe {
    display: flex;
    justify-content: space-between;
    margin: 0 2% 2% 2%;

}

@media only screen and (min-width: 700px) {
    .bottom-create-recipe {
        width: 80%;
    }
    }

@media only screen and (min-width: 700px) {
    .title-create-recipe {
        margin: 0;
    }
    }

@media only screen and (min-width: 700px) {
    .upper-create-recipe {
        width: 80%;
    }
    }

input,
input::placeholder {
    font: 1.35rem/3 sans-serif;
} 

/*-----------------------------------------------------*/

.body-shopping-list h1 {
    font-size: 3.5em;
    margin: 0;
}

.body-shopping-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
}

.shopping-sub-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: .1 1 auto;
}

.shopping-main-container {
    display: flex;
    flex: .9 1 auto;
    flex-direction: row;
    justify-content: space-between;
}

.recipes-container {
    width: 50%;
    text-align: center;
}

.recipes-container ul li {
    padding-right: 15%;
}

.current-ingredients-container {
    width: 50%;
    text-align: center;
}

.current-ingredients-container ul li {
    padding-right: 15%;
}

.btn-shopping {
    display: flex;
    flex: .02 1 auto;
    justify-content: space-around;
    margin: 2%;
}


/* #E0CC46 main yellow
   #94841F dark yellow
   #FFEB69 light yellow
   #858396 contrast dark
   #ECEBF5 contrast light
                            */


